html {
  background: url(../img/Launch.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;  
}

img:hover{
  box-shadow: 2px 2px 1px white, 2px -2px 1px white, -2px 2px 1px white, -2px -2px 1px white, 5px 1px 8px #510AAF, 1px 5px 8px #510AAF, -5px 1px 8px #510AAF, 1px -5px 8px #510AAF;
}

a:hover {
  text-shadow: 2px 2px 1px white, 2px -2px 1px white, -2px 2px 1px white, -2px -2px 1px white, 5px 1px 8px #510AAF, 1px 5px 8px #510AAF, -5px 1px 8px #510AAF, 1px -5px 8px #510AAF;
}

.nav-link{
	font-size:25px;
}

title {
  Impact: fantasy;
  font-size: 100px;
  letter-spacing: 5px;
  word-spacing: 20px;
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 0 #510AAF, 1px 2px 0 #510AAF, 0 3px 0 #510AAF, 1px 4px 2px #000000, 1px 5px 2px #000000, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15), 3px 3px 0px rgba(253,255,222,0);
  display: grid;
  text-align: center;
  margin: 0px;
  padding: 10px 0px 30px 0px;
  background-color: rgba(260,260,260, 0.4);
  border-radius: 25%;
 
}

#nav-bar{
 display: flex;
 align-items: justify-content;
 justify-content: center;
 padding: 10px 10px 10px 10px;
}

a{
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  letter-spacing: 4px;
  color: black;
  display: flex;
  text-align: center;
  text-decoration: none;
  margin: 20px;
  padding: 10px 5px 5px 5px;
}

#Home{
  display: grid;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

li{
  list-style-type: none;
  display: inli;
}

.history{
  display: grid;
  text-align: center;
}

h1{
  Impact: fantasy;
  font-size: 350%;
  letter-spacing: 4px;
  word-spacing: 20px;
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 0 #510AAF, 1px 2px 0 #510AAF, 1px 2px 0 #510AAF, 1px 2px 3px #000000, 1px 2px 3px #000000;
  display: grid;
  text-align: center;
  border: 10px dotted black;
  border-width: 10px 0px 0px 0px;
  bordr-opacity: 70%;
  padding: 20px;  
}

h2{
  Impact: fantasy;
  font-size: 40px;
  letter-spacing: 4px;
  word-spacing: 20px;
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 0 #510AAF, 1px 2px 0 #510AAF, 1px 2px 0 #510AAF, 1px 2px 3px #000000, 1px 2px 3px #000000;
  display: grid;
  text-align: center;
  border: 10px dotted black;
  border-width: 10px 0px 0px 0px;
  bordr-opacity: 70%;
  padding: 20px;  
}

p{
  Impact: fantasy;
  color: black;
  font-size: 30px;
  text-shadow: 1px 1px 1.5px gray;
  text-decoration: none;
  margin: 5px;
  padding: 10px 5px 5px 10px;
}




.rocket-img{
  margin: 10px 10px 10px 10px;
  width: 120px;
  height: 120px;
  border-radius: 25%;
}


#background {
  text-align: center;
  margin: 0px;
  padding: 10px;
}


.background{
  background-color: rgba(260,260,260, 0.4);
  border-radius: 05%;
}

#Contact {
  //display: grid;
  text-align: center;
  margin:0px;
  padding: 0px;
}

.professional{
  display: flex;
  align-items: justify-content;
  justify-content: center;
  list-style-type: none;  
}

#pro-link{
  height: 75px;
  border-radius: 20%;
}